alias todo='vim -p ~/do/*'
alias ack='ack-grep'
alias i="sudo aptitude install"
alias s="aptitude search"
alias p="aptitude show"
alias zamboni_tests="python manage.py test --noinput -s --logging-clear-handlers --with-progressive"
alias flash2vlc="vlc /tmp/Flash*"
alias diary="vim /home/alexis/Documents/perso/`date +%Y-%m-%d`.rst"
