[includeIf "gitdir:~/dev/**/.git"]
    path = ~/.git/config-user

[includeIf "gitdir:~/dev/fpf/**/.git"]
    path = ~/.git/config-fpf

[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[core]
	hooksPath = ~/.git/hooks
